{% extends 'base.html.twig' %}

{% block title %}Communauté{% endblock %}

{% block body %}
<div>
    <h1>Communauté</h1>
    <p> incidents signalés autour de vous</p>
    
    <a href=" {{ path('app_report_new') }}"> + </a>

    <div class="stats"> 
        <span>{{ stats.active }} Actifs</span>
        <span>{{ stats.thisMonth }} Ce mois</span>
        <span>{{ stats.resolved }} Résolus</span>
    </div>

    <div class="map-placeholder">
        Carte à venir
    </div>

    <nav>
        <a href="{{ path('app_community', {status: 'all'}) }}" class="{{ status == 'all' ? 'active' : '' }}">Tous</a>
        <a href="{{ path('app_community', {status: 'reported'}) }}" class="{{ status == 'reported' ? 'active' : '' }}">Signalés</a>
        <a href="{{ path('app_community', {status: 'in_progress'}) }}" class="{{ status == 'in_progress' ? 'active' : '' }}">En cours</a>
        <a href="{{ path('app_community', {status: 'resolved'}) }}" class="{{ status == 'resolved' ? 'active' : '' }}">Résolus</a>
    </nav>

    <h2>Fil des signalements</h2>
    
    {% if reports is empty %}
        <p> Aucun signalement pour votre ville pour le moment.</p>
    {% else %}
        <ul>
            {% for report in reports %}
                <li>{{ report.status.value}}
                    {{ report.category.name }}
                    <span> {{ report.status.value }}</span>
                    {% if report.address %}
                        <p>{{ report.address }}</p>
                    {% endif %}
                    <p>{{ report.createdAt|date('d/m/Y h:i') }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Commentaires récents <a href="#"> Voir tout</a> </h2>

    {% if reports is empty %}
        <p>Aucun commentaire pour le moment.</p>
    {% else %}
        <ul>
            {% for comment in comments %}
                <li>
                    {{comment.author ? comment.author.firstName : 'Anonyme'}}
                    <span>{{ comment.createdAt|date('d/m/Y h:i') }}</span>
                    <p> {{ comment.content }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
