{% extends 'base.html.twig' %}

{% block title %} Choisir ma ville {% endblock %}

{% block body %}


<div>
    <h1> Choisir ma ville </h1>

    {% for flash in app.flashes('success') %}
        <div> {{ flash }}</div>
    {% endfor %}

    <button type="button" disabled>Utiliser ma position GPS </button>

    <form method="get" action="{{ path('app_city_select') }}">
        <input type="text" name="query" value="{{ search }}" placeholder="Rechercher une ville...">
        <button type="submit">Rechercher</button>

    <ul id="cityList">
        {% for city in cities %}
            <li class="city-item" data-city-name="{{ city.name|lower }}">
                <form action="{{ path ('app_city_choose', {id: city.id}) }}" method="POST">
                    <input type="hidden" name="_token" value="{{ csrf_token('choose_city') }}">
                    <button type="submit">
                        {{ city.name }} - {{ city.postalCode }}
                        {% if app.user.city and app.user.city.id == city.id %}
                            check
                        {% endif %}
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
