{% extends 'base.html.twig' %}

{% block title %}Carte des incidents{% endblock %}

{% block body %}
<div> 
    <h1> Carte des incidents </h1>

    <nav>
        <a href="{{ path('app_report_map', {category: 'all'}) }}" class="{{ category == 'all' ? 'active' : '' }}">Tous</a>
        <a href="{{ path('app_report_map', {category: 'accidents'}) }}" class="{{ category == 'accidents' ? 'active' : '' }}">Accident</a>
        <a href="{{ path('app_report_map', {category: 'travaux'}) }}" class="{{ category == 'travaux' ? 'active' : '' }}">Travaux</a>
        <a href="{{ path('app_report_map', {category: 'urgences'}) }}" class="{{ category == 'urgences' ? 'active' : '' }}">Urgences</a>
    </nav>

    <div> Carte à venir</div>

    {% if reports is empty %}
        <p>Aucun signalement dans votre ville pour le moment.</p>
    {% else %}
        <ul>
            {% for report in reports %}
                <li>{{ report.category.icon }}
                    {{ report.category.name }}
                    <span>{{ report.status.value }}</span>
                    {% if report.address %}
                        <p>{{ report.address }}</p>
                    {% endif %}
                    <p> {{ report.createdAt|date('d/m/Y h:i') }} - {{ report.comments|length }} commentaire(s), {{ report.photos|length }} photo(s) </p>
                    <a href="{{ path('app_report_show', {id: report.id}) }}"> Voir détail</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}